flows.json
[
    {
        "id": "3c271f19ec74d126",
        "type": "tab",
        "label": "duplicati_homeassistant",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1e48b9e9dfab9e4",
        "type": "group",
        "z": "3c271f19ec74d126",
        "name": "server state",
        "style": {
            "fill": "#7fb7df",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "fb77469d82ba5a50",
            "a06bc1f6fe864642",
            "9bb45e2a19534359",
            "afe95c7c19b6ba67",
            "c17adc9d1f1a10c4",
            "a9bdc792493e8941",
            "ac8b25be99920ae8",
            "a9bdaa8093b35072"
        ],
        "x": 2524,
        "y": 79,
        "w": 1352,
        "h": 202
    },
    {
        "id": "3cbec6f36cae1435",
        "type": "group",
        "z": "3c271f19ec74d126",
        "name": "backup start",
        "style": {
            "fill": "#b797cf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "0c53df1e36e1311e",
            "023f7c3cccf249af",
            "059d211e241a21f2",
            "8313eccc1f64953e",
            "ad642999b9d2b4d5",
            "b084c693379ba757",
            "4e02d338d79c4c58",
            "6defae5837b5efe8",
            "53913a3185841db0",
            "a54195efd786506f",
            "a68bc3f58fc127ce",
            "c9ca73bc47f598d7"
        ],
        "x": 2514,
        "y": 479,
        "w": 2032,
        "h": 122
    },
    {
        "id": "f9550fa8be23ab21",
        "type": "group",
        "z": "3c271f19ec74d126",
        "name": "status update",
        "style": {
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "cb27de45a3a27cba",
            "36fcdf667de91844",
            "eb19a0d50d55d21e",
            "9df7d680c214fc4a",
            "9ce215d6e6943940",
            "32b1f04edd812fca",
            "474de49bf68f13f9",
            "24c232852fde163f",
            "4bd7abd91830b719",
            "79c522b979aa9f55",
            "e46719ed76fd0465",
            "27ad6b023af87a58",
            "04a78ca5780612cc",
            "855210f131cf2c14",
            "80c08df885371ddd",
            "6fb62f59543b1bd8",
            "e6aecce0ec036c34",
            "6b3175875abc97c8",
            "f827ba1459b9aa1c",
            "055dd68f1c898abc",
            "8c93ac3fde8fc3fd",
            "12c834cd1bca85b6",
            "4da35f4053568dd4",
            "fedb232413e769c5",
            "80bb9f56f89f87c9",
            "cc39b98c31d12b32",
            "6718913a407edb6c",
            "17abc136282147a7",
            "e21f9f0e11dfc8a5",
            "99deff523224ad54",
            "35f52fdd1b7d6217",
            "8c1a8cdfa8e83d98",
            "a9c362ef6860df03"
        ],
        "x": 2514,
        "y": 719,
        "w": 2872,
        "h": 542
    },
    {
        "id": "fd88aaab799a696c",
        "type": "group",
        "z": "3c271f19ec74d126",
        "name": "error handling",
        "style": {
            "label": true
        },
        "nodes": [
            "ca2ac7e4014668df",
            "097ea7fa4f15e4fc",
            "228378e9f87205b1"
        ],
        "x": 18,
        "y": 1359,
        "w": 2614,
        "h": 788
    },
    {
        "id": "162e31852cce599c",
        "type": "group",
        "z": "3c271f19ec74d126",
        "name": "Discovery",
        "style": {
            "label": true,
            "fill": "#c8e7a7",
            "color": "#000000"
        },
        "nodes": [
            "cc3598841c1cf86c",
            "80e7b862dc0abbdc",
            "4b3fad6ec5e8cf0a",
            "aa1fad3d5e6964aa",
            "3d3ef141fe4a87d1",
            "3f6bba55e2a6e236",
            "34830568d895a1af",
            "023783676931fe66",
            "6f21c052f12d9d28",
            "7fe5ff57573b3e04",
            "f2fdee69670534ac",
            "f3dc05208f712b47",
            "f4e533b436a6cab3",
            "c8c8b4ffacdd3d36",
            "e56a372fe2c392a9",
            "86efbb053152fe3d",
            "e4dd12bd221a0d20",
            "4b11084b4b9d97c9",
            "15844bccc348b17e",
            "93a7c5b24dbe84bc",
            "9dd50a15d5fc1cc9",
            "115a4c6d8f787037",
            "22a63bac60863174",
            "e417a6798f00ab6a",
            "057e7d988f9ec82a",
            "4ddf8b57abea1956",
            "e10be06ea94060c6",
            "c937c2a3713d06d7",
            "8034c670f0f90e96",
            "4b82e6663b5653ca",
            "90c43550e320f553",
            "cf1a649691e696cc",
            "9161a8eefe170aa8",
            "2541938168f8f20f",
            "37498c3b05e26bdc",
            "b732ea8fca8317d9",
            "eddf2bb02d8eeb30",
            "b094e874d1a3f262",
            "c06d1468db282169",
            "0cf28ba083fd0b3c",
            "0c30b841fc01a48a",
            "11a971ca3ff367f9",
            "fee42f017365b418",
            "bfcaa89a6119039a",
            "cc158ca6d8da3725",
            "8f328bd111b33b59",
            "cf82018dfcfca6e9",
            "ca6325d212165253",
            "f83b22f03d86b502",
            "4ffc09b784acbab8",
            "6669b1c8bc3d5dcf",
            "12828d5b06f6d6a9",
            "14fbacecaebf6f51"
        ],
        "x": 34,
        "y": 79,
        "w": 2162,
        "h": 928
    },
    {
        "id": "097ea7fa4f15e4fc",
        "type": "group",
        "z": "3c271f19ec74d126",
        "g": "fd88aaab799a696c",
        "name": "error handling - http nodes",
        "style": {
            "label": true,
            "fill": "#ffffbf",
            "color": "#000000"
        },
        "nodes": [
            "a354c08fb3457d90",
            "cde31738ccd4a4dc",
            "fd888913c72ef6cf",
            "d8d556f267383678",
            "35d6e4081f35cf9a",
            "b4597ddb913cc662",
            "779c2cd3105f25de",
            "c41383f69fd940ca",
            "fb74649dc170634a",
            "43f3829948c775b2",
            "e9d40e8c524be107",
            "28d3f7109cc49bed",
            "db04ce5fc3f6c470",
            "518696150bb0e993",
            "a31ebf3f7f5904ee",
            "f87b2f5f0c483aa5"
        ],
        "x": 44,
        "y": 1519,
        "w": 1352,
        "h": 602
    },
    {
        "id": "228378e9f87205b1",
        "type": "group",
        "z": "3c271f19ec74d126",
        "g": "fd88aaab799a696c",
        "name": "error handling - server state",
        "style": {
            "label": true,
            "fill": "#ffffbf",
            "color": "#000000"
        },
        "nodes": [
            "391a1a229b647bc3",
            "1137f286a8c61084",
            "69cea214c9485979",
            "d98e5d2e9b7cbb14",
            "d80bb32b6f4ca0a6",
            "880829355ac448fb",
            "05d648f23cea3611",
            "eb3e9d18b5f77cba",
            "3ee9b384e5c7a1aa",
            "a8c615ca82c28d2f",
            "e2cba57a65c16589"
        ],
        "x": 1404,
        "y": 1519,
        "w": 1202,
        "h": 362
    },
    {
        "id": "8034c670f0f90e96",
        "type": "group",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "eabe3496630c0fae",
            "2af9291c912ca077"
        ],
        "x": 844,
        "y": 859,
        "w": 212,
        "h": 122
    },
    {
        "id": "fa21f05ffa89a9b3",
        "type": "mqtt-broker",
        "name": "mqqt_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cc3598841c1cf86c",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "config",
        "func": "var flow_functions = {\n    \"clean_date\": function(input){\n        if (input == undefined) return \"\";\n        //node.warn(\"Converting:\"+input);\n        var data=input.split(\"T\");\n        var time=data[1];\n        data=data[0].split(\"-\");\n\n        var year = data[0].slice(0, 4);\n        var month = data[0].slice(4,6);\n        var day = data[0].slice(6, 8);\n\n        var hours=time.slice(0,2);\n        var mins = time.slice(2, 4);\n        var secs = time.slice(4, 6);\n        //var d=new Date(year,month,day,hours,mins,secs);\n\n        var dd=year+\"-\"+month+\"-\"+day+\"T\"+hours+\":\"+mins+\":\"+secs+\"Z\"\n        var d = new Date(dd);\n        //node.warn(\"Converted:\"+d);\n        return d;\n    }\n};\n\nflow.set(\"flow_functions\", flow_functions);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 180,
        "wires": [
            [
                "c937c2a3713d06d7"
            ]
        ]
    },
    {
        "id": "80e7b862dc0abbdc",
        "type": "inject",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "cc3598841c1cf86c"
            ]
        ]
    },
    {
        "id": "4b3fad6ec5e8cf0a",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.url1",
                "pt": "msg",
                "to": "\"http://\"&msg.payload.IP&\":\"&msg.payload.port",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.url2",
                "pt": "msg",
                "to": "\"http://\"&msg.payload.IP&\":\"&msg.payload.port&\"/api/v1/backups\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.url3",
                "pt": "msg",
                "to": "\"http://\"&msg.payload.IP&\":\"&msg.payload.port&\"/api/v1/systeminfo\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.url4",
                "pt": "msg",
                "to": "\"http://\"&msg.payload.IP&\":\"&msg.payload.port&\"/api/v1/progressstate\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.url5",
                "pt": "msg",
                "to": "\"http://\"&msg.payload.IP&\":\"&msg.payload.port&\"/api/v1/backup/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.url6",
                "pt": "msg",
                "to": "\"http://\"&msg.payload.IP&\":\"&msg.payload.port&\"/api/v1/serverstate/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.error",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.url7",
                "pt": "msg",
                "to": "\"http://\"&msg.payload.IP&\":\"&msg.payload.port&\"/login.cgi\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.url_login",
                "pt": "msg",
                "to": "\"http://\"&msg.payload.IP&\":\"&msg.payload.port&\"/api/v1/auth/login\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 180,
        "wires": [
            [
                "3d3ef141fe4a87d1"
            ]
        ]
    },
    {
        "id": "aa1fad3d5e6964aa",
        "type": "split",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "4b3fad6ec5e8cf0a"
            ]
        ]
    },
    {
        "id": "3d3ef141fe4a87d1",
        "type": "join",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1330,
        "y": 180,
        "wires": [
            [
                "3f6bba55e2a6e236",
                "e417a6798f00ab6a"
            ]
        ]
    },
    {
        "id": "3f6bba55e2a6e236",
        "type": "split",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "34830568d895a1af"
            ]
        ]
    },
    {
        "id": "34830568d895a1af",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "cf82018dfcfca6e9"
            ]
        ]
    },
    {
        "id": "023783676931fe66",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "login attempt",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 1090,
        "y": 240,
        "wires": [
            [
                "f2fdee69670534ac",
                "c06d1468db282169"
            ]
        ]
    },
    {
        "id": "6f21c052f12d9d28",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config.url3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "config.cookies",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "\"Bearer \"&msg.config.bearer",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 780,
        "wires": [
            [
                "7fe5ff57573b3e04",
                "6669b1c8bc3d5dcf"
            ]
        ]
    },
    {
        "id": "7fe5ff57573b3e04",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "get system info",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-XSRF-Token",
                "valueType": "msg",
                "valueValue": "cookies[\"xsrf-token\"][\"value\"]"
            }
        ],
        "x": 760,
        "y": 780,
        "wires": [
            [
                "11a971ca3ff367f9",
                "f3dc05208f712b47"
            ]
        ]
    },
    {
        "id": "f2fdee69670534ac",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "after login attempt",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 240,
        "wires": []
    },
    {
        "id": "f3dc05208f712b47",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "trim JSON",
        "func": "var data = msg.payload;\ndata = data.trim();\nmsg.payload = JSON.parse(data);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 780,
        "wires": [
            [
                "f4e533b436a6cab3"
            ]
        ]
    },
    {
        "id": "f4e533b436a6cab3",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config.systeminfo",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "config.cookies",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 780,
        "wires": [
            [
                "c8c8b4ffacdd3d36",
                "86efbb053152fe3d"
            ]
        ]
    },
    {
        "id": "c8c8b4ffacdd3d36",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "after systeminfo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 780,
        "wires": []
    },
    {
        "id": "e56a372fe2c392a9",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "get backups configured",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-XSRF-Token",
                "valueType": "msg",
                "valueValue": "cookies[\"xsrf-token\"][\"value\"]"
            }
        ],
        "x": 790,
        "y": 840,
        "wires": [
            [
                "4b11084b4b9d97c9"
            ]
        ]
    },
    {
        "id": "86efbb053152fe3d",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config.url2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "\"Bearer \"&msg.config.bearer",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 840,
        "wires": [
            [
                "e56a372fe2c392a9"
            ]
        ]
    },
    {
        "id": "e4dd12bd221a0d20",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "after backups configured",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 860,
        "wires": []
    },
    {
        "id": "4b11084b4b9d97c9",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "trim JSON",
        "func": "var data = msg.payload;\ndata = data.trim();\nmsg.payload = JSON.parse(data);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 840,
        "wires": [
            [
                "15844bccc348b17e"
            ]
        ]
    },
    {
        "id": "15844bccc348b17e",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config.backups",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "config.cookies",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "config[msg.parts.index]",
                "pt": "flow",
                "to": "config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 840,
        "wires": [
            [
                "e4dd12bd221a0d20",
                "93a7c5b24dbe84bc"
            ]
        ]
    },
    {
        "id": "93a7c5b24dbe84bc",
        "type": "split",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 550,
        "y": 900,
        "wires": [
            [
                "2af9291c912ca077",
                "eabe3496630c0fae"
            ]
        ]
    },
    {
        "id": "9dd50a15d5fc1cc9",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "after discovery",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 920,
        "wires": []
    },
    {
        "id": "115a4c6d8f787037",
        "type": "mqtt out",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa21f05ffa89a9b3",
        "x": 1150,
        "y": 940,
        "wires": []
    },
    {
        "id": "eabe3496630c0fae",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "8034c670f0f90e96",
        "name": "discovery HA",
        "func": "\nvar machine = msg.config.systeminfo.MachineName;\nvar BackupName = msg.payload.Backup.Name;\nvar BackupName_clean = BackupName.toLowerCase().replace(/ /g,\"_\")\n\n\nvar payload = {\n        name: \"duplicati_\"+machine+\"_\"+BackupName_clean,\n        unique_id: \"duplicati_\"+machine+\"_\"+BackupName_clean,\n        state_topic: \"duplicati/\" + machine + \"_\" + BackupName_clean + \"/state\",\n        command_topic: \"duplicati/\" + machine + \"_\" + BackupName_clean + \"/set\",\n        json_attributes_topic: \"duplicati/\" + machine + \"_\" + BackupName_clean + \"/state\",\n        value_template: \"{{ value_json.BackupActive }}\",\n        device: {\n            identifiers: [\n                machine+msg.payload.Backup.ID\n            ],\n            name: \"duplicati_\" + machine + \"_\" + BackupName_clean,\n            manufacturer: \"Duplicati\"\n        },\n    };\nvar topic = \"homeassistant/switch/duplicati/\" + machine + \"_\" + BackupName_clean  + \"/config\";\n\nmsg.payload = payload;\nmsg.topic = topic;\nmsg.retain = true;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 940,
        "wires": [
            [
                "115a4c6d8f787037"
            ]
        ]
    },
    {
        "id": "2af9291c912ca077",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "8034c670f0f90e96",
        "name": "monitor topic",
        "func": "\nvar machine = msg.config.systeminfo.MachineName;\nvar BackupName = msg.payload.Backup.Name;\nvar BackupName_clean = BackupName.toLowerCase().replace(/ /g,\"_\");\n\nmsg.payload.topic =  \"duplicati/\" + machine + \"_\" + BackupName_clean + \"/set\";\n//msg.payload.topic_state =  \"homeassistant/duplicati/\" + machine + \"_\" + BackupName_clean + \"/state\";\nmsg.topic =  \"duplicati/\" + machine + \"_\" + BackupName_clean + \"/set\";\nmsg.action = \"subscribe\"\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 900,
        "wires": [
            [
                "0c53df1e36e1311e",
                "4ddf8b57abea1956"
            ]
        ]
    },
    {
        "id": "22a63bac60863174",
        "type": "join",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1550,
        "y": 900,
        "wires": [
            [
                "9dd50a15d5fc1cc9",
                "057e7d988f9ec82a"
            ]
        ]
    },
    {
        "id": "0c53df1e36e1311e",
        "type": "mqtt in",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fa21f05ffa89a9b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 2590,
        "y": 520,
        "wires": [
            [
                "a54195efd786506f"
            ]
        ]
    },
    {
        "id": "023f7c3cccf249af",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "config",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2940,
        "y": 520,
        "wires": [
            [
                "059d211e241a21f2"
            ]
        ]
    },
    {
        "id": "059d211e241a21f2",
        "type": "split",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 3110,
        "y": 520,
        "wires": [
            [
                "8313eccc1f64953e"
            ]
        ]
    },
    {
        "id": "8313eccc1f64953e",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.backups",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "parts",
                "pt": "msg",
                "to": "parts_machine",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3280,
        "y": 520,
        "wires": [
            [
                "ad642999b9d2b4d5"
            ]
        ]
    },
    {
        "id": "ad642999b9d2b4d5",
        "type": "split",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 3450,
        "y": 520,
        "wires": [
            [
                "b084c693379ba757"
            ]
        ]
    },
    {
        "id": "b084c693379ba757",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "payload.topic",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3590,
        "y": 520,
        "wires": [
            [
                "6defae5837b5efe8"
            ]
        ]
    },
    {
        "id": "4e02d338d79c4c58",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "response start backup",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4400,
        "y": 520,
        "wires": []
    },
    {
        "id": "6defae5837b5efe8",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.config.url5&msg.payload.Backup.ID&\"/run\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "config.cookies",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "\"Bearer \"&msg.config.bearer",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3760,
        "y": 520,
        "wires": [
            [
                "53913a3185841db0"
            ]
        ]
    },
    {
        "id": "53913a3185841db0",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "start backup",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-XSRF-Token",
                "valueType": "msg",
                "valueValue": "cookies[\"xsrf-token\"][\"value\"]"
            }
        ],
        "x": 3970,
        "y": 520,
        "wires": [
            [
                "c9ca73bc47f598d7"
            ]
        ]
    },
    {
        "id": "cb27de45a3a27cba",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "get last backup info",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-XSRF-Token",
                "valueType": "msg",
                "valueValue": "cookies[\"xsrf-token\"][\"value\"]"
            }
        ],
        "x": 4270,
        "y": 1100,
        "wires": [
            [
                "36fcdf667de91844"
            ]
        ]
    },
    {
        "id": "36fcdf667de91844",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "trim JSON",
        "func": "var data = msg.payload;\ndata = data.trim();\nmsg.payload = JSON.parse(data);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4460,
        "y": 1100,
        "wires": [
            [
                "a9c362ef6860df03"
            ]
        ]
    },
    {
        "id": "eb19a0d50d55d21e",
        "type": "split",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 4830,
        "y": 1100,
        "wires": [
            [
                "24c232852fde163f"
            ]
        ]
    },
    {
        "id": "9df7d680c214fc4a",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config[msg.parts.index].url4",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "config[msg.parts.index].cookies",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "config[msg.parts.index]",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "\"Bearer \"&msg.config.bearer",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2780,
        "y": 1120,
        "wires": [
            [
                "8c93ac3fde8fc3fd"
            ]
        ]
    },
    {
        "id": "9ce215d6e6943940",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "get current progress",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-XSRF-Token",
                "valueType": "msg",
                "valueValue": "cookies[\"xsrf-token\"][\"value\"]"
            }
        ],
        "x": 3420,
        "y": 800,
        "wires": [
            [
                "8c1a8cdfa8e83d98"
            ]
        ]
    },
    {
        "id": "32b1f04edd812fca",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "trim JSON",
        "func": "var data = msg.payload;\ndata = data.trim();\nmsg.payload = JSON.parse(data);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4080,
        "y": 800,
        "wires": [
            [
                "474de49bf68f13f9",
                "6fb62f59543b1bd8",
                "4da35f4053568dd4"
            ]
        ]
    },
    {
        "id": "474de49bf68f13f9",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "current",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "config.backups",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "config.backups",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4300,
        "y": 940,
        "wires": [
            [
                "855210f131cf2c14"
            ]
        ]
    },
    {
        "id": "24c232852fde163f",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "property": "payload.Backup.ID",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "current.BackupID",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "current.BackupID",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 4050,
        "y": 1160,
        "wires": [
            [
                "4bd7abd91830b719"
            ],
            [
                "17abc136282147a7"
            ]
        ]
    },
    {
        "id": "4bd7abd91830b719",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.current",
                "pt": "msg",
                "to": "current",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4270,
        "y": 1160,
        "wires": [
            [
                "79c522b979aa9f55"
            ]
        ]
    },
    {
        "id": "79c522b979aa9f55",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "property": "payload.current.Phase",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Backup_Complete",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Backup_Complete",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 4490,
        "y": 1160,
        "wires": [
            [
                "e46719ed76fd0465"
            ],
            [
                "27ad6b023af87a58"
            ]
        ]
    },
    {
        "id": "e46719ed76fd0465",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.BackupActive",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4820,
        "y": 1160,
        "wires": [
            [
                "80c08df885371ddd",
                "e21f9f0e11dfc8a5"
            ]
        ]
    },
    {
        "id": "27ad6b023af87a58",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.BackupActive",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4820,
        "y": 1220,
        "wires": [
            [
                "80c08df885371ddd",
                "e21f9f0e11dfc8a5"
            ]
        ]
    },
    {
        "id": "04a78ca5780612cc",
        "type": "mqtt out",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa21f05ffa89a9b3",
        "x": 5310,
        "y": 1220,
        "wires": []
    },
    {
        "id": "855210f131cf2c14",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config.url2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "\"Bearer \"&msg.config.bearer",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4060,
        "y": 1100,
        "wires": [
            [
                "cb27de45a3a27cba"
            ]
        ]
    },
    {
        "id": "80c08df885371ddd",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "updated payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 5150,
        "y": 1160,
        "wires": []
    },
    {
        "id": "a54195efd786506f",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2770,
        "y": 520,
        "wires": [
            [
                "023f7c3cccf249af"
            ],
            [
                "a68bc3f58fc127ce"
            ]
        ]
    },
    {
        "id": "a354c08fb3457d90",
        "type": "catch",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "",
        "scope": [
            "023783676931fe66",
            "7fe5ff57573b3e04",
            "e56a372fe2c392a9",
            "9ce215d6e6943940"
        ],
        "uncaught": false,
        "x": 130,
        "y": 1800,
        "wires": [
            [
                "cde31738ccd4a4dc",
                "779c2cd3105f25de",
                "f87b2f5f0c483aa5"
            ]
        ]
    },
    {
        "id": "cde31738ccd4a4dc",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "http error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1700,
        "wires": []
    },
    {
        "id": "fb77469d82ba5a50",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "b1e48b9e9dfab9e4",
        "name": "get initial server state",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-XSRF-Token",
                "valueType": "msg",
                "valueValue": "cookies[\"xsrf-token\"][\"value\"]"
            }
        ],
        "x": 2840,
        "y": 160,
        "wires": [
            [
                "9bb45e2a19534359"
            ]
        ]
    },
    {
        "id": "a06bc1f6fe864642",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "b1e48b9e9dfab9e4",
        "name": "server state",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3260,
        "y": 120,
        "wires": []
    },
    {
        "id": "9bb45e2a19534359",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "b1e48b9e9dfab9e4",
        "name": "trim JSON",
        "func": "var data = msg.payload;\ndata = data.trim();\nmsg.payload = JSON.parse(data);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3050,
        "y": 160,
        "wires": [
            [
                "afe95c7c19b6ba67",
                "a06bc1f6fe864642",
                "ac8b25be99920ae8"
            ]
        ]
    },
    {
        "id": "afe95c7c19b6ba67",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "b1e48b9e9dfab9e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.config.url6&\"?lasteventid=\"&msg.payload.LastEventID&\"&longpoll=true&duration=119s\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "httpRequestTimeout",
                "pt": "msg",
                "to": "120000",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "start",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "\"Bearer \"&msg.config.bearer",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "config.cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "config.cookies",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3270,
        "y": 160,
        "wires": [
            [
                "c17adc9d1f1a10c4"
            ]
        ]
    },
    {
        "id": "c17adc9d1f1a10c4",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "b1e48b9e9dfab9e4",
        "name": "get server state",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-XSRF-Token",
                "valueType": "msg",
                "valueValue": "cookies[\"xsrf-token\"][\"value\"]"
            }
        ],
        "x": 3510,
        "y": 160,
        "wires": [
            [
                "a9bdaa8093b35072"
            ]
        ]
    },
    {
        "id": "a9bdc792493e8941",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "b1e48b9e9dfab9e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "config[msg.parts.index].cookies",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.config.url6&\"?lasteventid=-1&longpoll=false&duration=119s\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "start",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "httpRequestTimeout",
                "pt": "msg",
                "to": "120000",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "\"Bearer \"&msg.config.bearer",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2630,
        "y": 160,
        "wires": [
            [
                "fb77469d82ba5a50"
            ]
        ]
    },
    {
        "id": "391a1a229b647bc3",
        "type": "catch",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "",
        "scope": [
            "fb77469d82ba5a50",
            "c17adc9d1f1a10c4"
        ],
        "uncaught": false,
        "x": 1490,
        "y": 1660,
        "wires": [
            [
                "1137f286a8c61084",
                "d98e5d2e9b7cbb14"
            ]
        ]
    },
    {
        "id": "ac8b25be99920ae8",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "b1e48b9e9dfab9e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config[msg.parts.index].serverstate",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "config[msg.parts.index].serverstateprocessed",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "config[msg.parts.index]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3280,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6fb62f59543b1bd8",
        "type": "delay",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 4460,
        "y": 800,
        "wires": [
            [
                "8c93ac3fde8fc3fd"
            ]
        ]
    },
    {
        "id": "e6aecce0ec036c34",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "property": "config[msg.parts.index].serverstate.SuggestedStatusIcon",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Active",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3170,
        "y": 1100,
        "wires": [
            [
                "99deff523224ad54"
            ],
            [
                "6718913a407edb6c"
            ]
        ]
    },
    {
        "id": "6b3175875abc97c8",
        "type": "delay",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3550,
        "y": 1120,
        "wires": [
            [
                "055dd68f1c898abc",
                "8c93ac3fde8fc3fd"
            ]
        ]
    },
    {
        "id": "e417a6798f00ab6a",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f827ba1459b9aa1c",
        "type": "delay",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2600,
        "y": 1120,
        "wires": [
            [
                "9df7d680c214fc4a"
            ]
        ]
    },
    {
        "id": "057e7d988f9ec82a",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config[msg.parts.index].backups",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 760,
        "wires": [
            [
                "a9bdc792493e8941",
                "f827ba1459b9aa1c"
            ]
        ]
    },
    {
        "id": "fd888913c72ef6cf",
        "type": "ping",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "",
        "host": "",
        "timer": "20",
        "inputs": 1,
        "x": 910,
        "y": 1840,
        "wires": [
            [
                "d8d556f267383678"
            ]
        ]
    },
    {
        "id": "d8d556f267383678",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "check IP online",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1100,
        "y": 1840,
        "wires": [
            [
                "35d6e4081f35cf9a",
                "a31ebf3f7f5904ee"
            ],
            [
                "a31ebf3f7f5904ee",
                "ca2ac7e4014668df"
            ]
        ]
    },
    {
        "id": "35d6e4081f35cf9a",
        "type": "delay",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1300,
        "y": 1840,
        "wires": [
            [
                "b4597ddb913cc662"
            ]
        ]
    },
    {
        "id": "b4597ddb913cc662",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "set IP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "config.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 1940,
        "wires": [
            [
                "fd888913c72ef6cf"
            ]
        ]
    },
    {
        "id": "779c2cd3105f25de",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "",
        "property": "error.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "ECONNREFUSED|ECONNRESET|RequestError: socket hang up",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "EHOSTUNREACH ",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "no response from server",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 510,
        "y": 1800,
        "wires": [
            [
                "c41383f69fd940ca",
                "db04ce5fc3f6c470"
            ],
            [
                "28d3f7109cc49bed",
                "518696150bb0e993"
            ],
            [
                "c41383f69fd940ca"
            ],
            [
                "e9d40e8c524be107"
            ]
        ]
    },
    {
        "id": "c41383f69fd940ca",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "set url to init",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config.url1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1620,
        "wires": [
            [
                "fb74649dc170634a"
            ]
        ]
    },
    {
        "id": "fb74649dc170634a",
        "type": "delay",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1000,
        "y": 1620,
        "wires": [
            [
                "43f3829948c775b2",
                "ca2ac7e4014668df"
            ]
        ]
    },
    {
        "id": "43f3829948c775b2",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "waited - checking again",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 1620,
        "wires": []
    },
    {
        "id": "e9d40e8c524be107",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "other error message",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 2000,
        "wires": []
    },
    {
        "id": "28d3f7109cc49bed",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "set IP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "config.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1840,
        "wires": [
            [
                "fd888913c72ef6cf"
            ]
        ]
    },
    {
        "id": "db04ce5fc3f6c470",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "ECONNREFUSED|ECONNRESET|RequestError: socket hang up",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "\"can't reach duplicati instance on \"&msg.config.IP",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1560,
        "wires": []
    },
    {
        "id": "1137f286a8c61084",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "",
        "property": "error.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "RequestError",
                "vt": "str",
                "case": false
            },
            {
                "t": "eq",
                "v": "no response from server",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1670,
        "y": 1720,
        "wires": [
            [
                "69cea214c9485979",
                "d80bb32b6f4ca0a6",
                "05d648f23cea3611"
            ],
            [
                "3ee9b384e5c7a1aa",
                "a8c615ca82c28d2f"
            ],
            [
                "eb3e9d18b5f77cba",
                "05d648f23cea3611"
            ]
        ]
    },
    {
        "id": "69cea214c9485979",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "RequestError: socket hang up",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2000,
        "y": 1600,
        "wires": []
    },
    {
        "id": "518696150bb0e993",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "EHOSTUNREACH ",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "\"can't reach duplicati server on \"&msg.config.IP",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1800,
        "wires": []
    },
    {
        "id": "a31ebf3f7f5904ee",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "ping result",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 1740,
        "wires": []
    },
    {
        "id": "d98e5d2e9b7cbb14",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "server state error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 1560,
        "wires": []
    },
    {
        "id": "d80bb32b6f4ca0a6",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config.url1",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "error",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1880,
        "y": 1680,
        "wires": [
            [
                "880829355ac448fb"
            ]
        ]
    },
    {
        "id": "880829355ac448fb",
        "type": "delay",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2050,
        "y": 1680,
        "wires": [
            [
                "ca2ac7e4014668df"
            ]
        ]
    },
    {
        "id": "055dd68f1c898abc",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "500ms update",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3780,
        "y": 1140,
        "wires": []
    },
    {
        "id": "f87b2f5f0c483aa5",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "set error flag",
        "rules": [
            {
                "t": "set",
                "p": "config[msg.parts.index].error",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "05d648f23cea3611",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "set error flag",
        "rules": [
            {
                "t": "set",
                "p": "config[msg.parts.index].error",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1870,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "8c93ac3fde8fc3fd",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "property": "config[msg.parts.index].error",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2990,
        "y": 1120,
        "wires": [
            [
                "e6aecce0ec036c34"
            ],
            [
                "12c834cd1bca85b6"
            ]
        ]
    },
    {
        "id": "12c834cd1bca85b6",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "stopped flow",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3200,
        "y": 1140,
        "wires": []
    },
    {
        "id": "ca2ac7e4014668df",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "fd88aaab799a696c",
        "name": "clear error",
        "rules": [
            {
                "t": "set",
                "p": "config[msg.parts.index].error",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "delete",
                "p": "error",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 1400,
        "wires": [
            [
                "023783676931fe66"
            ]
        ]
    },
    {
        "id": "eb3e9d18b5f77cba",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "other error serverstate",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 1800,
        "wires": []
    },
    {
        "id": "4da35f4053568dd4",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "10sec update",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4280,
        "y": 760,
        "wires": []
    },
    {
        "id": "4ddf8b57abea1956",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "action",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 900,
        "wires": [
            [
                "22a63bac60863174"
            ]
        ]
    },
    {
        "id": "3ee9b384e5c7a1aa",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "error",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "end",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "duration",
                "pt": "msg",
                "to": "msg.end-msg.start",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1900,
        "y": 1740,
        "wires": [
            [
                "fb77469d82ba5a50",
                "e2cba57a65c16589"
            ]
        ]
    },
    {
        "id": "fedb232413e769c5",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config[msg.parts.index].serverstateprocessed",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "\"Bearer \"&msg.config.bearer",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3540,
        "y": 1060,
        "wires": [
            [
                "80bb9f56f89f87c9"
            ]
        ]
    },
    {
        "id": "80bb9f56f89f87c9",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "get current progress",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-XSRF-Token",
                "valueType": "msg",
                "valueValue": "cookies[\"xsrf-token\"][\"value\"]"
            }
        ],
        "x": 3680,
        "y": 940,
        "wires": [
            [
                "cc39b98c31d12b32",
                "35f52fdd1b7d6217"
            ]
        ]
    },
    {
        "id": "cc39b98c31d12b32",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "trim JSON",
        "func": "var data = msg.payload;\ndata = data.trim();\nmsg.payload = JSON.parse(data);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4080,
        "y": 940,
        "wires": [
            [
                "474de49bf68f13f9"
            ]
        ]
    },
    {
        "id": "6718913a407edb6c",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "property": "config[msg.parts.index].serverstateprocessed",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3350,
        "y": 1100,
        "wires": [
            [
                "fedb232413e769c5"
            ],
            [
                "6b3175875abc97c8"
            ]
        ]
    },
    {
        "id": "e10be06ea94060c6",
        "type": "yaml",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "property": "payload",
        "name": "",
        "x": 610,
        "y": 180,
        "wires": [
            [
                "4b82e6663b5653ca",
                "cf1a649691e696cc"
            ]
        ]
    },
    {
        "id": "c937c2a3713d06d7",
        "type": "file in",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "input file",
        "filename": "/data/duplicati/duplicati_config.yaml",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 440,
        "y": 180,
        "wires": [
            [
                "e10be06ea94060c6"
            ]
        ]
    },
    {
        "id": "4b82e6663b5653ca",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "set mqtt config",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "payload.mqtt",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 120,
        "wires": [
            [
                "90c43550e320f553"
            ]
        ]
    },
    {
        "id": "90c43550e320f553",
        "type": "mqtt in",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fa21f05ffa89a9b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 1290,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "cf1a649691e696cc",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "set server config",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.duplicatiservers",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 180,
        "wires": [
            [
                "aa1fad3d5e6964aa"
            ]
        ]
    },
    {
        "id": "a8c615ca82c28d2f",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "no response from server",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2450,
        "y": 1720,
        "wires": []
    },
    {
        "id": "a68bc3f58fc127ce",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "wrong payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "\"Only ON implemented\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 2950,
        "y": 560,
        "wires": []
    },
    {
        "id": "e2cba57a65c16589",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "duration",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2130,
        "y": 1760,
        "wires": []
    },
    {
        "id": "17abc136282147a7",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "current",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4250,
        "y": 1200,
        "wires": [
            [
                "27ad6b023af87a58"
            ]
        ]
    },
    {
        "id": "e21f9f0e11dfc8a5",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "update",
        "func": "const f = flow.get(\"flow_functions\");\n\nvar machine = msg.config.systeminfo.MachineName;\n\nvar BackupName = msg.payload.Backup.Name;\nvar BackupName_clean = BackupName.toLowerCase().replace(/ /g,\"_\");\n\nmsg.topic = \"duplicati/\" + machine + \"_\" + BackupName_clean + \"/state\",\nmsg.retain = false;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 5120,
        "y": 1220,
        "wires": [
            [
                "04a78ca5780612cc"
            ]
        ]
    },
    {
        "id": "9161a8eefe170aa8",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config.url7",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "get-nonce=1",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "cookies",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "config.cookies",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 300,
        "wires": [
            [
                "2541938168f8f20f"
            ]
        ]
    },
    {
        "id": "2541938168f8f20f",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "get salt and nonce",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            }
        ],
        "x": 1400,
        "y": 300,
        "wires": [
            [
                "b732ea8fca8317d9",
                "37498c3b05e26bdc"
            ]
        ]
    },
    {
        "id": "37498c3b05e26bdc",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "salt & nonce",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 280,
        "wires": []
    },
    {
        "id": "b732ea8fca8317d9",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "trim JSON",
        "func": "var data = msg.payload;\ndata = data.trim();\nmsg.payload = JSON.parse(data);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 360,
        "wires": [
            [
                "0c30b841fc01a48a"
            ]
        ]
    },
    {
        "id": "eddf2bb02d8eeb30",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "salt pwd",
        "func": "var CryptoJS = context.global.cryptojs;\n\nvar saltedpwd = CryptoJS.SHA256(\n    CryptoJS.enc.Hex.parse(\n        CryptoJS.enc.Utf8.parse(msg.config.password) + CryptoJS.enc.Base64.parse(msg.config.login.Salt)\n    )\n)\n\nvar noncedpwd = CryptoJS.SHA256(CryptoJS.enc.Hex.parse(CryptoJS.enc.Base64.parse(msg.config.login.Nonce) + saltedpwd)).toString(CryptoJS.enc.Base64);\n\n//var auth_response_hash = CryptoJS.SHA256(secret + msg.challenge);\n//var auth_response = CryptoJS.enc.Base64.stringify(auth_response_hash);\n\n//msg.payload = auth_response;\nmsg.payload = \"password=\"+noncedpwd;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 360,
        "wires": [
            [
                "b094e874d1a3f262"
            ]
        ]
    },
    {
        "id": "b094e874d1a3f262",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "login",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            }
        ],
        "x": 1770,
        "y": 360,
        "wires": [
            [
                "fee42f017365b418",
                "cc158ca6d8da3725"
            ]
        ]
    },
    {
        "id": "c06d1468db282169",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "property": "responseUrl",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "login.html",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 320,
        "wires": [
            [
                "9161a8eefe170aa8"
            ],
            [
                "bfcaa89a6119039a"
            ]
        ]
    },
    {
        "id": "0cf28ba083fd0b3c",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config.url1",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "headers2.X-XSRF-Token",
                "pt": "msg",
                "to": "cookies.xsrf-token.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "config.cookies.session-nonce",
                "pt": "msg",
                "to": "responseCookies.session-nonce",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "config.cookies.session-auth",
                "pt": "msg",
                "to": "responseCookies.session-auth",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "config.cookies",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 360,
        "wires": [
            [
                "6f21c052f12d9d28"
            ]
        ]
    },
    {
        "id": "0c30b841fc01a48a",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config.login",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "config.cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "config.cookies",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 360,
        "wires": [
            [
                "37498c3b05e26bdc",
                "eddf2bb02d8eeb30"
            ]
        ]
    },
    {
        "id": "11a971ca3ff367f9",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "unparsed system info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 740,
        "wires": []
    },
    {
        "id": "fee42f017365b418",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "after login with ui-pwd 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2040,
        "y": 440,
        "wires": []
    },
    {
        "id": "bfcaa89a6119039a",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config.cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 780,
        "wires": [
            [
                "6f21c052f12d9d28"
            ]
        ]
    },
    {
        "id": "cc158ca6d8da3725",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "OK",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1840,
        "y": 300,
        "wires": [
            [
                "0cf28ba083fd0b3c"
            ],
            [
                "8f328bd111b33b59"
            ]
        ]
    },
    {
        "id": "8f328bd111b33b59",
        "type": "delay",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1380,
        "y": 460,
        "wires": [
            [
                "9161a8eefe170aa8"
            ]
        ]
    },
    {
        "id": "cf82018dfcfca6e9",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "property": "config.mode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "legacy",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 240,
        "wires": [
            [
                "4ffc09b784acbab8"
            ],
            [
                "ca6325d212165253"
            ]
        ]
    },
    {
        "id": "ca6325d212165253",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config.url_login",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.Password",
                "pt": "msg",
                "to": "config.password",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.RememberMe",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 500,
        "wires": [
            [
                "f83b22f03d86b502"
            ]
        ]
    },
    {
        "id": "f83b22f03d86b502",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1110,
        "y": 500,
        "wires": [
            [
                "14fbacecaebf6f51"
            ]
        ]
    },
    {
        "id": "4ffc09b784acbab8",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config.url1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 240,
        "wires": [
            [
                "023783676931fe66"
            ]
        ]
    },
    {
        "id": "6669b1c8bc3d5dcf",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 720,
        "wires": []
    },
    {
        "id": "12828d5b06f6d6a9",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config.bearer",
                "pt": "msg",
                "to": "payload.AccessToken",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 500,
        "wires": [
            [
                "bfcaa89a6119039a"
            ]
        ]
    },
    {
        "id": "14fbacecaebf6f51",
        "type": "json",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1270,
        "y": 500,
        "wires": [
            [
                "12828d5b06f6d6a9"
            ]
        ]
    },
    {
        "id": "99deff523224ad54",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "\"Bearer \"&msg.config.bearer",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3330,
        "y": 940,
        "wires": [
            [
                "9ce215d6e6943940"
            ]
        ]
    },
    {
        "id": "a9bdaa8093b35072",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "b1e48b9e9dfab9e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config.cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3740,
        "y": 160,
        "wires": [
            [
                "9bb45e2a19534359"
            ]
        ]
    },
    {
        "id": "c9ca73bc47f598d7",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config.cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4160,
        "y": 520,
        "wires": [
            [
                "4e02d338d79c4c58"
            ]
        ]
    },
    {
        "id": "35f52fdd1b7d6217",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config.cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3940,
        "y": 980,
        "wires": [
            [
                "6b3175875abc97c8"
            ]
        ]
    },
    {
        "id": "8c1a8cdfa8e83d98",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config.cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3740,
        "y": 800,
        "wires": [
            [
                "32b1f04edd812fca"
            ]
        ]
    },
    {
        "id": "a9c362ef6860df03",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config.cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4660,
        "y": 1100,
        "wires": [
            [
                "eb19a0d50d55d21e"
            ]
        ]
    }
]