flows.json
[
    {
        "id": "3c271f19ec74d126",
        "type": "tab",
        "label": "duplicati_homeassistant",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "679c5775.a84ad8",
        "type": "tab",
        "label": "Duplicati",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1e48b9e9dfab9e4",
        "type": "group",
        "z": "3c271f19ec74d126",
        "name": "server state",
        "style": {
            "fill": "#7fb7df",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "fb77469d82ba5a50",
            "a06bc1f6fe864642",
            "9bb45e2a19534359",
            "afe95c7c19b6ba67",
            "c17adc9d1f1a10c4",
            "a9bdc792493e8941",
            "ac8b25be99920ae8"
        ],
        "x": 1874,
        "y": 79,
        "w": 1092,
        "h": 182
    },
    {
        "id": "3cbec6f36cae1435",
        "type": "group",
        "z": "3c271f19ec74d126",
        "name": "backup start",
        "style": {
            "fill": "#b797cf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "0c53df1e36e1311e",
            "023f7c3cccf249af",
            "059d211e241a21f2",
            "8313eccc1f64953e",
            "ad642999b9d2b4d5",
            "b084c693379ba757",
            "4e02d338d79c4c58",
            "6defae5837b5efe8",
            "53913a3185841db0",
            "a54195efd786506f",
            "21b3338a5e0f6ec3",
            "a68bc3f58fc127ce"
        ],
        "x": 1874,
        "y": 479,
        "w": 1962,
        "h": 162
    },
    {
        "id": "f9550fa8be23ab21",
        "type": "group",
        "z": "3c271f19ec74d126",
        "name": "status update",
        "style": {
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "cb27de45a3a27cba",
            "36fcdf667de91844",
            "eb19a0d50d55d21e",
            "9df7d680c214fc4a",
            "9ce215d6e6943940",
            "32b1f04edd812fca",
            "474de49bf68f13f9",
            "24c232852fde163f",
            "4bd7abd91830b719",
            "79c522b979aa9f55",
            "e46719ed76fd0465",
            "27ad6b023af87a58",
            "04a78ca5780612cc",
            "855210f131cf2c14",
            "80c08df885371ddd",
            "6fb62f59543b1bd8",
            "e6aecce0ec036c34",
            "6b3175875abc97c8",
            "f827ba1459b9aa1c",
            "055dd68f1c898abc",
            "8c93ac3fde8fc3fd",
            "12c834cd1bca85b6",
            "4da35f4053568dd4",
            "fedb232413e769c5",
            "80bb9f56f89f87c9",
            "cc39b98c31d12b32",
            "6718913a407edb6c",
            "17abc136282147a7",
            "e21f9f0e11dfc8a5"
        ],
        "x": 1874,
        "y": 719,
        "w": 2892,
        "h": 542
    },
    {
        "id": "fd88aaab799a696c",
        "type": "group",
        "z": "3c271f19ec74d126",
        "name": "error handling",
        "style": {
            "label": true
        },
        "nodes": [
            "ca2ac7e4014668df",
            "097ea7fa4f15e4fc",
            "228378e9f87205b1"
        ],
        "x": 28,
        "y": 1359,
        "w": 2604,
        "h": 788
    },
    {
        "id": "162e31852cce599c",
        "type": "group",
        "z": "3c271f19ec74d126",
        "name": "Discovery",
        "style": {
            "label": true,
            "fill": "#c8e7a7",
            "color": "#000000"
        },
        "nodes": [
            "cc3598841c1cf86c",
            "80e7b862dc0abbdc",
            "4b3fad6ec5e8cf0a",
            "aa1fad3d5e6964aa",
            "3d3ef141fe4a87d1",
            "3f6bba55e2a6e236",
            "34830568d895a1af",
            "023783676931fe66",
            "6f21c052f12d9d28",
            "7fe5ff57573b3e04",
            "f2fdee69670534ac",
            "f3dc05208f712b47",
            "f4e533b436a6cab3",
            "c8c8b4ffacdd3d36",
            "e56a372fe2c392a9",
            "86efbb053152fe3d",
            "e4dd12bd221a0d20",
            "4b11084b4b9d97c9",
            "15844bccc348b17e",
            "93a7c5b24dbe84bc",
            "9dd50a15d5fc1cc9",
            "115a4c6d8f787037",
            "22a63bac60863174",
            "e417a6798f00ab6a",
            "057e7d988f9ec82a",
            "4ddf8b57abea1956",
            "e10be06ea94060c6",
            "c937c2a3713d06d7",
            "8034c670f0f90e96",
            "4b82e6663b5653ca",
            "90c43550e320f553",
            "cf1a649691e696cc"
        ],
        "x": 14,
        "y": 39,
        "w": 1852,
        "h": 448
    },
    {
        "id": "097ea7fa4f15e4fc",
        "type": "group",
        "z": "3c271f19ec74d126",
        "g": "fd88aaab799a696c",
        "name": "error handling - http nodes",
        "style": {
            "label": true,
            "fill": "#ffffbf",
            "color": "#000000"
        },
        "nodes": [
            "a354c08fb3457d90",
            "cde31738ccd4a4dc",
            "fd888913c72ef6cf",
            "d8d556f267383678",
            "35d6e4081f35cf9a",
            "b4597ddb913cc662",
            "779c2cd3105f25de",
            "c41383f69fd940ca",
            "fb74649dc170634a",
            "43f3829948c775b2",
            "e9d40e8c524be107",
            "28d3f7109cc49bed",
            "db04ce5fc3f6c470",
            "518696150bb0e993",
            "a31ebf3f7f5904ee",
            "f87b2f5f0c483aa5"
        ],
        "x": 54,
        "y": 1519,
        "w": 1332,
        "h": 602
    },
    {
        "id": "228378e9f87205b1",
        "type": "group",
        "z": "3c271f19ec74d126",
        "g": "fd88aaab799a696c",
        "name": "error handling - server state",
        "style": {
            "label": true,
            "fill": "#ffffbf",
            "color": "#000000"
        },
        "nodes": [
            "391a1a229b647bc3",
            "1137f286a8c61084",
            "69cea214c9485979",
            "d98e5d2e9b7cbb14",
            "d80bb32b6f4ca0a6",
            "880829355ac448fb",
            "05d648f23cea3611",
            "eb3e9d18b5f77cba",
            "3ee9b384e5c7a1aa",
            "a8c615ca82c28d2f",
            "e2cba57a65c16589"
        ],
        "x": 1414,
        "y": 1519,
        "w": 1192,
        "h": 362
    },
    {
        "id": "8034c670f0f90e96",
        "type": "group",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "eabe3496630c0fae",
            "2af9291c912ca077"
        ],
        "x": 714,
        "y": 339,
        "w": 192,
        "h": 122
    },
    {
        "id": "fa21f05ffa89a9b3",
        "type": "mqtt-broker",
        "name": "mqqt_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": false,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dce8d0e9.45717",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "local InfluxDb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.0.218:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "cc3598841c1cf86c",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "config",
        "func": "var flow_functions = {\n    \"clean_date\": function(input){\n        if (input == undefined) return \"\";\n        //node.warn(\"Converting:\"+input);\n        var data=input.split(\"T\");\n        var time=data[1];\n        data=data[0].split(\"-\");\n\n        var year = data[0].slice(0, 4);\n        var month = data[0].slice(4,6);\n        var day = data[0].slice(6, 8);\n\n        var hours=time.slice(0,2);\n        var mins = time.slice(2, 4);\n        var secs = time.slice(4, 6);\n        //var d=new Date(year,month,day,hours,mins,secs);\n\n        var dd=year+\"-\"+month+\"-\"+day+\"T\"+hours+\":\"+mins+\":\"+secs+\"Z\"\n        var d = new Date(dd);\n        //node.warn(\"Converted:\"+d);\n        return d;\n    }\n};\n\nflow.set(\"flow_functions\", flow_functions);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 140,
        "wires": [
            [
                "c937c2a3713d06d7"
            ]
        ]
    },
    {
        "id": "80e7b862dc0abbdc",
        "type": "inject",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "cc3598841c1cf86c"
            ]
        ]
    },
    {
        "id": "4b3fad6ec5e8cf0a",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.url1",
                "pt": "msg",
                "to": "\"http://\"&msg.payload.IP&\":\"&msg.payload.port&\"/ngax/index.html\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.url2",
                "pt": "msg",
                "to": "\"http://\"&msg.payload.IP&\":\"&msg.payload.port&\"/api/v1/backups\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.url3",
                "pt": "msg",
                "to": "\"http://\"&msg.payload.IP&\":\"&msg.payload.port&\"/api/v1/systeminfo\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.url4",
                "pt": "msg",
                "to": "\"http://\"&msg.payload.IP&\":\"&msg.payload.port&\"/api/v1/progressstate\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.url5",
                "pt": "msg",
                "to": "\"http://\"&msg.payload.IP&\":\"&msg.payload.port&\"/api/v1/backup/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.url6",
                "pt": "msg",
                "to": "\"http://\"&msg.payload.IP&\":\"&msg.payload.port&\"/api/v1/serverstate/\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.error",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 140,
        "wires": [
            [
                "3d3ef141fe4a87d1"
            ]
        ]
    },
    {
        "id": "aa1fad3d5e6964aa",
        "type": "split",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1010,
        "y": 140,
        "wires": [
            [
                "4b3fad6ec5e8cf0a"
            ]
        ]
    },
    {
        "id": "3d3ef141fe4a87d1",
        "type": "join",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1330,
        "y": 140,
        "wires": [
            [
                "3f6bba55e2a6e236",
                "e417a6798f00ab6a"
            ]
        ]
    },
    {
        "id": "3f6bba55e2a6e236",
        "type": "split",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "34830568d895a1af"
            ]
        ]
    },
    {
        "id": "34830568d895a1af",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config.url1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 200,
        "wires": [
            [
                "023783676931fe66"
            ]
        ]
    },
    {
        "id": "023783676931fe66",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "get xsrf token",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 820,
        "y": 200,
        "wires": [
            [
                "f2fdee69670534ac",
                "6f21c052f12d9d28"
            ]
        ]
    },
    {
        "id": "6f21c052f12d9d28",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config.url3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 260,
        "wires": [
            [
                "7fe5ff57573b3e04"
            ]
        ]
    },
    {
        "id": "7fe5ff57573b3e04",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "get system info",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-XSRF-Token",
                "valueType": "msg",
                "valueValue": "cookies[\"xsrf-token\"][\"value\"]"
            }
        ],
        "x": 620,
        "y": 260,
        "wires": [
            [
                "f3dc05208f712b47"
            ]
        ]
    },
    {
        "id": "f2fdee69670534ac",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "after xsrf",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 200,
        "wires": []
    },
    {
        "id": "f3dc05208f712b47",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "trim JSON",
        "func": "var data = msg.payload;\ndata = data.trim();\nmsg.payload = JSON.parse(data);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 260,
        "wires": [
            [
                "f4e533b436a6cab3"
            ]
        ]
    },
    {
        "id": "f4e533b436a6cab3",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config.systeminfo",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 260,
        "wires": [
            [
                "c8c8b4ffacdd3d36",
                "86efbb053152fe3d"
            ]
        ]
    },
    {
        "id": "c8c8b4ffacdd3d36",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "after systeminfo",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 240,
        "wires": []
    },
    {
        "id": "e56a372fe2c392a9",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "get backups configured",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-XSRF-Token",
                "valueType": "msg",
                "valueValue": "cookies[\"xsrf-token\"][\"value\"]"
            }
        ],
        "x": 650,
        "y": 320,
        "wires": [
            [
                "4b11084b4b9d97c9"
            ]
        ]
    },
    {
        "id": "86efbb053152fe3d",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config.url2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "e56a372fe2c392a9"
            ]
        ]
    },
    {
        "id": "e4dd12bd221a0d20",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "after backups configured",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 340,
        "wires": []
    },
    {
        "id": "4b11084b4b9d97c9",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "trim JSON",
        "func": "var data = msg.payload;\ndata = data.trim();\nmsg.payload = JSON.parse(data);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 320,
        "wires": [
            [
                "15844bccc348b17e"
            ]
        ]
    },
    {
        "id": "15844bccc348b17e",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config.backups",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "config.cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "config[msg.parts.index]",
                "pt": "flow",
                "to": "config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 320,
        "wires": [
            [
                "e4dd12bd221a0d20",
                "93a7c5b24dbe84bc"
            ]
        ]
    },
    {
        "id": "93a7c5b24dbe84bc",
        "type": "split",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 400,
        "y": 380,
        "wires": [
            [
                "2af9291c912ca077",
                "eabe3496630c0fae"
            ]
        ]
    },
    {
        "id": "9dd50a15d5fc1cc9",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "after discovery",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 440,
        "wires": []
    },
    {
        "id": "115a4c6d8f787037",
        "type": "mqtt out",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa21f05ffa89a9b3",
        "x": 1050,
        "y": 420,
        "wires": []
    },
    {
        "id": "eabe3496630c0fae",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "8034c670f0f90e96",
        "name": "discovery HA",
        "func": "\nvar machine = msg.config.systeminfo.MachineName;\nvar BackupName = msg.payload.Backup.Name;\nvar BackupName_clean = BackupName.toLowerCase().replace(/ /g,\"_\")\n\n\nvar payload = {\n        name: \"duplicati_\"+machine+\"_\"+BackupName_clean,\n        unique_id: \"duplicati_\"+machine+\"_\"+BackupName_clean,\n        state_topic: \"duplicati/\" + machine + \"_\" + BackupName_clean + \"/state\",\n        command_topic: \"duplicati/\" + machine + \"_\" + BackupName_clean + \"/set\",\n        json_attributes_topic: \"duplicati/\" + machine + \"_\" + BackupName_clean + \"/state\",\n        value_template: \"{{ value_json.BackupActive }}\",\n        device: {\n            identifiers: [\n                machine+msg.payload.Backup.ID\n            ],\n            name: \"duplicati_\" + machine + \"_\" + BackupName_clean,\n            manufacturer: \"Duplicati\"\n        },\n    };\nvar topic = \"homeassistant/switch/duplicati/\" + machine + \"_\" + BackupName_clean  + \"/config\";\n\nmsg.payload = payload;\nmsg.topic = topic;\nmsg.retain = true;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 420,
        "wires": [
            [
                "115a4c6d8f787037"
            ]
        ]
    },
    {
        "id": "2af9291c912ca077",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "8034c670f0f90e96",
        "name": "monitor topic",
        "func": "\nvar machine = msg.config.systeminfo.MachineName;\nvar BackupName = msg.payload.Backup.Name;\nvar BackupName_clean = BackupName.toLowerCase().replace(/ /g,\"_\");\n\nmsg.payload.topic =  \"duplicati/\" + machine + \"_\" + BackupName_clean + \"/set\";\n//msg.payload.topic_state =  \"homeassistant/duplicati/\" + machine + \"_\" + BackupName_clean + \"/state\";\nmsg.topic =  \"duplicati/\" + machine + \"_\" + BackupName_clean + \"/set\";\nmsg.action = \"subscribe\"\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 380,
        "wires": [
            [
                "0c53df1e36e1311e",
                "4ddf8b57abea1956"
            ]
        ]
    },
    {
        "id": "22a63bac60863174",
        "type": "join",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1410,
        "y": 380,
        "wires": [
            [
                "9dd50a15d5fc1cc9",
                "057e7d988f9ec82a"
            ]
        ]
    },
    {
        "id": "0c53df1e36e1311e",
        "type": "mqtt in",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fa21f05ffa89a9b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 1950,
        "y": 560,
        "wires": [
            [
                "a54195efd786506f"
            ]
        ]
    },
    {
        "id": "023f7c3cccf249af",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "config",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2300,
        "y": 560,
        "wires": [
            [
                "059d211e241a21f2"
            ]
        ]
    },
    {
        "id": "059d211e241a21f2",
        "type": "split",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 2470,
        "y": 560,
        "wires": [
            [
                "8313eccc1f64953e"
            ]
        ]
    },
    {
        "id": "8313eccc1f64953e",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.backups",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "parts",
                "pt": "msg",
                "to": "parts_machine",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2640,
        "y": 560,
        "wires": [
            [
                "ad642999b9d2b4d5"
            ]
        ]
    },
    {
        "id": "ad642999b9d2b4d5",
        "type": "split",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 2810,
        "y": 560,
        "wires": [
            [
                "b084c693379ba757"
            ]
        ]
    },
    {
        "id": "b084c693379ba757",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "payload.topic",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2950,
        "y": 560,
        "wires": [
            [
                "6defae5837b5efe8"
            ]
        ]
    },
    {
        "id": "4e02d338d79c4c58",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "response start backup",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3550,
        "y": 560,
        "wires": []
    },
    {
        "id": "6defae5837b5efe8",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.config.url5&msg.payload.Backup.ID&\"/run\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "config.cookies",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3120,
        "y": 560,
        "wires": [
            [
                "53913a3185841db0"
            ]
        ]
    },
    {
        "id": "53913a3185841db0",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "start backup",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-XSRF-Token",
                "valueType": "msg",
                "valueValue": "cookies[\"xsrf-token\"][\"value\"]"
            }
        ],
        "x": 3330,
        "y": 560,
        "wires": [
            [
                "4e02d338d79c4c58",
                "21b3338a5e0f6ec3"
            ]
        ]
    },
    {
        "id": "cb27de45a3a27cba",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "get last backup info",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-XSRF-Token",
                "valueType": "msg",
                "valueValue": "cookies[\"xsrf-token\"][\"value\"]"
            }
        ],
        "x": 3590,
        "y": 1100,
        "wires": [
            [
                "36fcdf667de91844"
            ]
        ]
    },
    {
        "id": "36fcdf667de91844",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "trim JSON",
        "func": "var data = msg.payload;\ndata = data.trim();\nmsg.payload = JSON.parse(data);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3790,
        "y": 1100,
        "wires": [
            [
                "eb19a0d50d55d21e"
            ]
        ]
    },
    {
        "id": "eb19a0d50d55d21e",
        "type": "split",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 3930,
        "y": 1100,
        "wires": [
            [
                "24c232852fde163f"
            ]
        ]
    },
    {
        "id": "9df7d680c214fc4a",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config[msg.parts.index].url4",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "config[msg.parts.index].cookies",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "config[msg.parts.index]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2140,
        "y": 1120,
        "wires": [
            [
                "8c93ac3fde8fc3fd"
            ]
        ]
    },
    {
        "id": "9ce215d6e6943940",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "get current progress",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-XSRF-Token",
                "valueType": "msg",
                "valueValue": "cookies[\"xsrf-token\"][\"value\"]"
            }
        ],
        "x": 2780,
        "y": 800,
        "wires": [
            [
                "32b1f04edd812fca"
            ]
        ]
    },
    {
        "id": "32b1f04edd812fca",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "trim JSON",
        "func": "var data = msg.payload;\ndata = data.trim();\nmsg.payload = JSON.parse(data);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3440,
        "y": 800,
        "wires": [
            [
                "474de49bf68f13f9",
                "6fb62f59543b1bd8",
                "4da35f4053568dd4"
            ]
        ]
    },
    {
        "id": "474de49bf68f13f9",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "current",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "config.backups",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "config.cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "config.backups",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3660,
        "y": 940,
        "wires": [
            [
                "855210f131cf2c14"
            ]
        ]
    },
    {
        "id": "24c232852fde163f",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "property": "payload.Backup.ID",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "current.BackupID",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "current.BackupID",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3410,
        "y": 1160,
        "wires": [
            [
                "4bd7abd91830b719"
            ],
            [
                "17abc136282147a7"
            ]
        ]
    },
    {
        "id": "4bd7abd91830b719",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.current",
                "pt": "msg",
                "to": "current",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3630,
        "y": 1160,
        "wires": [
            [
                "79c522b979aa9f55"
            ]
        ]
    },
    {
        "id": "79c522b979aa9f55",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "property": "payload.current.Phase",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Backup_Complete",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Backup_Complete",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3850,
        "y": 1160,
        "wires": [
            [
                "e46719ed76fd0465"
            ],
            [
                "27ad6b023af87a58"
            ]
        ]
    },
    {
        "id": "e46719ed76fd0465",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.BackupActive",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4180,
        "y": 1160,
        "wires": [
            [
                "80c08df885371ddd",
                "e21f9f0e11dfc8a5"
            ]
        ]
    },
    {
        "id": "27ad6b023af87a58",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.BackupActive",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4180,
        "y": 1220,
        "wires": [
            [
                "80c08df885371ddd",
                "e21f9f0e11dfc8a5"
            ]
        ]
    },
    {
        "id": "04a78ca5780612cc",
        "type": "mqtt out",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa21f05ffa89a9b3",
        "x": 4690,
        "y": 1220,
        "wires": []
    },
    {
        "id": "855210f131cf2c14",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config.url2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3410,
        "y": 1100,
        "wires": [
            [
                "cb27de45a3a27cba"
            ]
        ]
    },
    {
        "id": "80c08df885371ddd",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "updated payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4510,
        "y": 1160,
        "wires": []
    },
    {
        "id": "a54195efd786506f",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2130,
        "y": 560,
        "wires": [
            [
                "023f7c3cccf249af"
            ],
            [
                "a68bc3f58fc127ce"
            ]
        ]
    },
    {
        "id": "a354c08fb3457d90",
        "type": "catch",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "",
        "scope": [
            "023783676931fe66",
            "7fe5ff57573b3e04",
            "e56a372fe2c392a9",
            "9ce215d6e6943940"
        ],
        "uncaught": false,
        "x": 130,
        "y": 1800,
        "wires": [
            [
                "cde31738ccd4a4dc",
                "779c2cd3105f25de",
                "f87b2f5f0c483aa5"
            ]
        ]
    },
    {
        "id": "cde31738ccd4a4dc",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "http error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1700,
        "wires": []
    },
    {
        "id": "fb77469d82ba5a50",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "b1e48b9e9dfab9e4",
        "name": "get initial server state",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-XSRF-Token",
                "valueType": "msg",
                "valueValue": "cookies[\"xsrf-token\"][\"value\"]"
            }
        ],
        "x": 2190,
        "y": 160,
        "wires": [
            [
                "9bb45e2a19534359"
            ]
        ]
    },
    {
        "id": "a06bc1f6fe864642",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "b1e48b9e9dfab9e4",
        "name": "server state",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2610,
        "y": 120,
        "wires": []
    },
    {
        "id": "9bb45e2a19534359",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "b1e48b9e9dfab9e4",
        "name": "trim JSON",
        "func": "var data = msg.payload;\ndata = data.trim();\nmsg.payload = JSON.parse(data);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2380,
        "y": 160,
        "wires": [
            [
                "afe95c7c19b6ba67",
                "a06bc1f6fe864642",
                "ac8b25be99920ae8"
            ]
        ]
    },
    {
        "id": "afe95c7c19b6ba67",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "b1e48b9e9dfab9e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.config.url6&\"?lasteventid=\"&msg.payload.LastEventID&\"&longpoll=true&duration=119s\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "responseCookies",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "httpRequestTimeout",
                "pt": "msg",
                "to": "120000",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "config[msg.parts.index].cookies",
                "pt": "flow",
                "to": "responseCookies",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "start",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2620,
        "y": 160,
        "wires": [
            [
                "c17adc9d1f1a10c4"
            ]
        ]
    },
    {
        "id": "c17adc9d1f1a10c4",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "b1e48b9e9dfab9e4",
        "name": "get server state",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-XSRF-Token",
                "valueType": "msg",
                "valueValue": "cookies[\"xsrf-token\"][\"value\"]"
            }
        ],
        "x": 2860,
        "y": 160,
        "wires": [
            [
                "9bb45e2a19534359"
            ]
        ]
    },
    {
        "id": "a9bdc792493e8941",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "b1e48b9e9dfab9e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "config[msg.parts.index].cookies",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "msg.config.url6&\"?lasteventid=-1&longpoll=false&duration=119s\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "start",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "httpRequestTimeout",
                "pt": "msg",
                "to": "120000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1980,
        "y": 160,
        "wires": [
            [
                "fb77469d82ba5a50"
            ]
        ]
    },
    {
        "id": "391a1a229b647bc3",
        "type": "catch",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "",
        "scope": [
            "fb77469d82ba5a50",
            "c17adc9d1f1a10c4"
        ],
        "uncaught": false,
        "x": 1490,
        "y": 1660,
        "wires": [
            [
                "1137f286a8c61084",
                "d98e5d2e9b7cbb14"
            ]
        ]
    },
    {
        "id": "ac8b25be99920ae8",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "b1e48b9e9dfab9e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config[msg.parts.index].serverstate",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "config[msg.parts.index].serverstateprocessed",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "config[msg.parts.index]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2620,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6fb62f59543b1bd8",
        "type": "delay",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3820,
        "y": 800,
        "wires": [
            [
                "8c93ac3fde8fc3fd"
            ]
        ]
    },
    {
        "id": "e6aecce0ec036c34",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "property": "config[msg.parts.index].serverstate.SuggestedStatusIcon",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Active",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2530,
        "y": 1100,
        "wires": [
            [
                "9ce215d6e6943940"
            ],
            [
                "6718913a407edb6c"
            ]
        ]
    },
    {
        "id": "6b3175875abc97c8",
        "type": "delay",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2910,
        "y": 1120,
        "wires": [
            [
                "055dd68f1c898abc",
                "8c93ac3fde8fc3fd"
            ]
        ]
    },
    {
        "id": "e417a6798f00ab6a",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f827ba1459b9aa1c",
        "type": "delay",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1960,
        "y": 1120,
        "wires": [
            [
                "9df7d680c214fc4a"
            ]
        ]
    },
    {
        "id": "057e7d988f9ec82a",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config[msg.parts.index].backups",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 380,
        "wires": [
            [
                "a9bdc792493e8941",
                "f827ba1459b9aa1c"
            ]
        ]
    },
    {
        "id": "fd888913c72ef6cf",
        "type": "ping",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "",
        "host": "",
        "timer": "20",
        "inputs": 1,
        "x": 910,
        "y": 1840,
        "wires": [
            [
                "d8d556f267383678"
            ]
        ]
    },
    {
        "id": "d8d556f267383678",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "check IP online",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1100,
        "y": 1840,
        "wires": [
            [
                "35d6e4081f35cf9a",
                "a31ebf3f7f5904ee"
            ],
            [
                "a31ebf3f7f5904ee",
                "ca2ac7e4014668df"
            ]
        ]
    },
    {
        "id": "35d6e4081f35cf9a",
        "type": "delay",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1300,
        "y": 1840,
        "wires": [
            [
                "b4597ddb913cc662"
            ]
        ]
    },
    {
        "id": "b4597ddb913cc662",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "set IP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "config.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 1940,
        "wires": [
            [
                "fd888913c72ef6cf"
            ]
        ]
    },
    {
        "id": "779c2cd3105f25de",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "",
        "property": "error.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "ECONNREFUSED|ECONNRESET|RequestError: socket hang up",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "EHOSTUNREACH ",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "no response from server",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 510,
        "y": 1800,
        "wires": [
            [
                "c41383f69fd940ca",
                "db04ce5fc3f6c470"
            ],
            [
                "28d3f7109cc49bed",
                "518696150bb0e993"
            ],
            [
                "c41383f69fd940ca"
            ],
            [
                "e9d40e8c524be107"
            ]
        ]
    },
    {
        "id": "c41383f69fd940ca",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "set url to init",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config.url1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1620,
        "wires": [
            [
                "fb74649dc170634a"
            ]
        ]
    },
    {
        "id": "fb74649dc170634a",
        "type": "delay",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1000,
        "y": 1620,
        "wires": [
            [
                "43f3829948c775b2",
                "ca2ac7e4014668df"
            ]
        ]
    },
    {
        "id": "43f3829948c775b2",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "waited - checking again",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 1620,
        "wires": []
    },
    {
        "id": "e9d40e8c524be107",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "other error message",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 2000,
        "wires": []
    },
    {
        "id": "28d3f7109cc49bed",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "set IP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "config.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1840,
        "wires": [
            [
                "fd888913c72ef6cf"
            ]
        ]
    },
    {
        "id": "db04ce5fc3f6c470",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "ECONNREFUSED|ECONNRESET|RequestError: socket hang up",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "\"can't reach duplicati instance on \"&msg.config.IP",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1560,
        "wires": []
    },
    {
        "id": "1137f286a8c61084",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "",
        "property": "error.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "RequestError",
                "vt": "str",
                "case": false
            },
            {
                "t": "eq",
                "v": "no response from server",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1670,
        "y": 1720,
        "wires": [
            [
                "69cea214c9485979",
                "d80bb32b6f4ca0a6",
                "05d648f23cea3611"
            ],
            [
                "3ee9b384e5c7a1aa",
                "a8c615ca82c28d2f"
            ],
            [
                "eb3e9d18b5f77cba",
                "05d648f23cea3611"
            ]
        ]
    },
    {
        "id": "69cea214c9485979",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "RequestError: socket hang up",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2000,
        "y": 1600,
        "wires": []
    },
    {
        "id": "518696150bb0e993",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "EHOSTUNREACH ",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "\"can't reach duplicati server on \"&msg.config.IP",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1800,
        "wires": []
    },
    {
        "id": "a31ebf3f7f5904ee",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "ping result",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 1740,
        "wires": []
    },
    {
        "id": "d98e5d2e9b7cbb14",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "server state error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 1560,
        "wires": []
    },
    {
        "id": "d80bb32b6f4ca0a6",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "config.url1",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "error",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1880,
        "y": 1680,
        "wires": [
            [
                "880829355ac448fb"
            ]
        ]
    },
    {
        "id": "880829355ac448fb",
        "type": "delay",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2050,
        "y": 1680,
        "wires": [
            [
                "ca2ac7e4014668df"
            ]
        ]
    },
    {
        "id": "055dd68f1c898abc",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "500ms update",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3140,
        "y": 1140,
        "wires": []
    },
    {
        "id": "f87b2f5f0c483aa5",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "097ea7fa4f15e4fc",
        "name": "set error flag",
        "rules": [
            {
                "t": "set",
                "p": "config[msg.parts.index].error",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "05d648f23cea3611",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "set error flag",
        "rules": [
            {
                "t": "set",
                "p": "config[msg.parts.index].error",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1870,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "8c93ac3fde8fc3fd",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "property": "config[msg.parts.index].error",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2350,
        "y": 1120,
        "wires": [
            [
                "e6aecce0ec036c34"
            ],
            [
                "12c834cd1bca85b6"
            ]
        ]
    },
    {
        "id": "12c834cd1bca85b6",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "stopped flow",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2550,
        "y": 1140,
        "wires": []
    },
    {
        "id": "ca2ac7e4014668df",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "fd88aaab799a696c",
        "name": "clear error",
        "rules": [
            {
                "t": "set",
                "p": "config[msg.parts.index].error",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "delete",
                "p": "error",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 1400,
        "wires": [
            [
                "023783676931fe66"
            ]
        ]
    },
    {
        "id": "eb3e9d18b5f77cba",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "other error serverstate",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 1800,
        "wires": []
    },
    {
        "id": "4da35f4053568dd4",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "10sec update",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3640,
        "y": 760,
        "wires": []
    },
    {
        "id": "4ddf8b57abea1956",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "action",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 380,
        "wires": [
            [
                "22a63bac60863174"
            ]
        ]
    },
    {
        "id": "3ee9b384e5c7a1aa",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "error",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "end",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "duration",
                "pt": "msg",
                "to": "msg.end-msg.start",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1900,
        "y": 1740,
        "wires": [
            [
                "fb77469d82ba5a50",
                "e2cba57a65c16589"
            ]
        ]
    },
    {
        "id": "fedb232413e769c5",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config[msg.parts.index].serverstateprocessed",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3020,
        "y": 1060,
        "wires": [
            [
                "80bb9f56f89f87c9"
            ]
        ]
    },
    {
        "id": "80bb9f56f89f87c9",
        "type": "http request",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "get current progress",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-XSRF-Token",
                "valueType": "msg",
                "valueValue": "cookies[\"xsrf-token\"][\"value\"]"
            }
        ],
        "x": 3220,
        "y": 940,
        "wires": [
            [
                "cc39b98c31d12b32",
                "6b3175875abc97c8"
            ]
        ]
    },
    {
        "id": "cc39b98c31d12b32",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "trim JSON",
        "func": "var data = msg.payload;\ndata = data.trim();\nmsg.payload = JSON.parse(data);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3440,
        "y": 940,
        "wires": [
            [
                "474de49bf68f13f9"
            ]
        ]
    },
    {
        "id": "6718913a407edb6c",
        "type": "switch",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "property": "config[msg.parts.index].serverstateprocessed",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2710,
        "y": 1100,
        "wires": [
            [
                "fedb232413e769c5"
            ],
            [
                "6b3175875abc97c8"
            ]
        ]
    },
    {
        "id": "21b3338a5e0f6ec3",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config[msg.parts_machine.index].cookies",
                "pt": "flow",
                "to": "responseCookies",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3620,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "e10be06ea94060c6",
        "type": "yaml",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "property": "payload",
        "name": "",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "4b82e6663b5653ca",
                "cf1a649691e696cc"
            ]
        ]
    },
    {
        "id": "c937c2a3713d06d7",
        "type": "file in",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "input file",
        "filename": "/data/duplicati/duplicati_config.yaml",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 440,
        "y": 140,
        "wires": [
            [
                "e10be06ea94060c6"
            ]
        ]
    },
    {
        "id": "4b82e6663b5653ca",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "set mqtt config",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "broker",
                "pt": "msg",
                "to": "payload.mqtt",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 80,
        "wires": [
            [
                "90c43550e320f553"
            ]
        ]
    },
    {
        "id": "90c43550e320f553",
        "type": "mqtt in",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fa21f05ffa89a9b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 1270,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "cf1a649691e696cc",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "162e31852cce599c",
        "name": "set server config",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.duplicatiservers",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 140,
        "wires": [
            [
                "aa1fad3d5e6964aa"
            ]
        ]
    },
    {
        "id": "a8c615ca82c28d2f",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "no response from server",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2450,
        "y": 1720,
        "wires": []
    },
    {
        "id": "a68bc3f58fc127ce",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "3cbec6f36cae1435",
        "name": "wrong payload",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "\"Only ON implemented\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 2310,
        "y": 600,
        "wires": []
    },
    {
        "id": "e2cba57a65c16589",
        "type": "debug",
        "z": "3c271f19ec74d126",
        "g": "228378e9f87205b1",
        "name": "duration",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2130,
        "y": 1760,
        "wires": []
    },
    {
        "id": "17abc136282147a7",
        "type": "change",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "current",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3610,
        "y": 1200,
        "wires": [
            [
                "27ad6b023af87a58"
            ]
        ]
    },
    {
        "id": "e21f9f0e11dfc8a5",
        "type": "function",
        "z": "3c271f19ec74d126",
        "g": "f9550fa8be23ab21",
        "name": "update",
        "func": "const f = flow.get(\"flow_functions\");\n\nvar machine = msg.config.systeminfo.MachineName;\n\nvar BackupName = msg.payload.Backup.Name;\nvar BackupName_clean = BackupName.toLowerCase().replace(/ /g,\"_\");\n\nmsg.topic = \"duplicati/\" + machine + \"_\" + BackupName_clean + \"/state\",\nmsg.retain = false;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4480,
        "y": 1220,
        "wires": [
            [
                "04a78ca5780612cc"
            ]
        ]
    },
    {
        "id": "317fa54a.feaf92",
        "type": "http in",
        "z": "679c5775.a84ad8",
        "d": true,
        "name": "duplicati",
        "url": "/duplicati",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "7c0f221e.09a594",
                "7d91ffe7.fd07d"
            ]
        ]
    },
    {
        "id": "7c0f221e.09a594",
        "type": "json",
        "z": "679c5775.a84ad8",
        "d": true,
        "name": "duplicati response",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "63a5bf76.3aafc",
                "13a58b9b.126104"
            ]
        ]
    },
    {
        "id": "13a58b9b.126104",
        "type": "http response",
        "z": "679c5775.a84ad8",
        "d": true,
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "63a5bf76.3aafc",
        "type": "switch",
        "z": "679c5775.a84ad8",
        "d": true,
        "name": "",
        "property": "payload.Data.MainOperation",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Backup",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Repair",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Compact",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Restore",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "31f475f5.c91cba"
            ],
            [
                "47564f7e.896c38"
            ],
            [
                "47564f7e.896c38"
            ],
            [
                "19b4e6d1.06dff9"
            ]
        ]
    },
    {
        "id": "262ee358.b77724",
        "type": "split",
        "z": "679c5775.a84ad8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1350,
        "y": 240,
        "wires": [
            [
                "cfad4a2fc050959a",
                "0f88133884740219"
            ]
        ]
    },
    {
        "id": "2ef4e93a.5e2a56",
        "type": "delay",
        "z": "679c5775.a84ad8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1000,
        "y": 200,
        "wires": [
            [
                "1206c168.36e417"
            ]
        ]
    },
    {
        "id": "31f475f5.c91cba",
        "type": "function",
        "z": "679c5775.a84ad8",
        "name": "backup",
        "func": "msg.payload = [\n    {\n        measurement: \"files\",\n        fields: {\n            Deleted: msg.payload.Data.DeletedFiles,\n\t\t\tModified: msg.payload.Data.ModifiedFiles,\n\t\t\tExamined: msg.payload.Data.ExaminedFiles,\n\t\t\tOpened: msg.payload.Data.OpenedFiles,\n\t\t\tAdded: msg.payload.Data.AddedFiles,\n\t\t\tNotProcessed: msg.payload.Data.NotProcessedFiles,\n\t\t\tTooLarge: msg.payload.Data.TooLargeFiles,\n\t\t\tWithError: msg.payload.Data.FilesWithError,\n\t\t\tFilesUploaded: msg.payload.Data.BackendStatistics.FilesUploaded,\n\t\t\tFilesDownloaded: msg.payload.Data.BackendStatistics.FilesDownloaded,\n\t\t\tFilesDeleted: msg.payload.Data.BackendStatistics.FilesDeleted,\n\t\t\tUnknownFileCount: msg.payload.Data.BackendStatistics.UnknownFileCount,\n\t\t\tKnownFileCount: msg.payload.Data.BackendStatistics.KnownFileCount,\n\t\t\tListCount: msg.payload.Data.BackendStatistics.BackupListCount\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    },\n    {\n        measurement: \"bytes\",\n        fields: {\n\t\t\tModified: msg.payload.Data.SizeOfModifiedFiles,\n\t\t\tAdded: msg.payload.Data.SizeOfAddedFiles,\n\t\t\tExamined: msg.payload.Data.SizeOfExaminedFiles,\n\t\t\tOpened: msg.payload.Data.SizeOfOpenedFiles,\n\t\t\tUploaded: msg.payload.Data.BackendStatistics.BytesUploaded,\n\t\t\tDownloaded: msg.payload.Data.BackendStatistics.BytesDownloaded,\n\t\t\tUnknownFile: msg.payload.Data.BackendStatistics.UnknownFileSize,\n\t\t\tKnown: msg.payload.Data.BackendStatistics.KnownFileSize\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    },\n\t{\n        measurement: \"times\",\n        fields: {\n\t\t\tEndTime: new Date(msg.payload.Data.EndTime).getTime(),\n\t\t\tBeginTime: new Date(msg.payload.Data.BeginTime).getTime(),\n\t\t\tDuration: new Date(msg.payload.Data.EndTime).getTime()-new Date(msg.payload.Data.BeginTime).getTime(),\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 40,
        "wires": [
            [
                "2ef4e93a.5e2a56",
                "ac69f0462b3b942f"
            ]
        ]
    },
    {
        "id": "47564f7e.896c38",
        "type": "function",
        "z": "679c5775.a84ad8",
        "name": "repair/compact",
        "func": "msg.payload = [\n    {\n        measurement: \"files\",\n        fields: {\n\t\t\tFilesUploaded: msg.payload.Data.BackendStatistics.FilesUploaded,\n\t\t\tFilesDownloaded: msg.payload.Data.BackendStatistics.FilesDownloaded,\n\t\t\tFilesDeleted: msg.payload.Data.BackendStatistics.FilesDeleted,\n\t\t\tUnknownFileCount: msg.payload.Data.BackendStatistics.UnknownFileCount,\n\t\t\tKnownFileCount: msg.payload.Data.BackendStatistics.KnownFileCount\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    },\n    {\n        measurement: \"bytes\",\n        fields: {\n\t\t\tUploaded: msg.payload.Data.BackendStatistics.BytesUploaded,\n\t\t\tDownloaded: msg.payload.Data.BackendStatistics.BytesDownloaded,\n\t\t\tUnknownFile: msg.payload.Data.BackendStatistics.UnknownFileSize,\n\t\t\tKnown: msg.payload.Data.BackendStatistics.KnownFileSize\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    },\n\t{\n        measurement: \"times\",\n        fields: {\n\t\t\tEndTime: new Date(msg.payload.Data.EndTime).getTime(),\n\t\t\tBeginTime: new Date(msg.payload.Data.BeginTime).getTime(),\n\t\t\tDuration: new Date(msg.payload.Data.EndTime).getTime()-new Date(msg.payload.Data.BeginTime).getTime(),\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 200,
        "wires": [
            [
                "2ef4e93a.5e2a56",
                "ac69f0462b3b942f"
            ]
        ]
    },
    {
        "id": "19b4e6d1.06dff9",
        "type": "function",
        "z": "679c5775.a84ad8",
        "name": "restore",
        "func": "msg.payload = [\n    {\n        measurement: \"files\",\n        fields: {\n\t\t\tFilesRestored: msg.payload.Data.BackendStatistics.FilesRestored,\n\t\t\tFilesPatched: msg.payload.Data.BackendStatistics.FilesPatched,\n\t\t\tFilesDeleted: msg.payload.Data.BackendStatistics.FilesDeleted,\n\t\t\tUnknownFileCount: msg.payload.Data.BackendStatistics.UnknownFileCount,\n\t\t\tKnownFileCount: msg.payload.Data.BackendStatistics.KnownFileCount\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    },\n    {\n        measurement: \"bytes\",\n        fields: {\n\t\t\tRestored: msg.payload.Data.SizeOfRestoredFiles,\n\t\t\tUploaded: msg.payload.Data.BackendStatistics.BytesUploaded,\n\t\t\tDownloaded: msg.payload.Data.BackendStatistics.BytesDownloaded,\n\t\t\tUnknownFile: msg.payload.Data.BackendStatistics.UnknownFileSize,\n\t\t\tKnown: msg.payload.Data.BackendStatistics.KnownFileSize\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    },\n\t{\n        measurement: \"times\",\n        fields: {\n\t\t\tEndTime: new Date(msg.payload.Data.EndTime).getTime(),\n\t\t\tBeginTime: new Date(msg.payload.Data.BeginTime).getTime(),\n\t\t\tDuration: new Date(msg.payload.Data.EndTime).getTime()-new Date(msg.payload.Data.BeginTime).getTime(),\n        },\n        tags:{\n\t\t\tBackupName: msg.payload.Extra[\"backup-name\"],\n\t\t\tMainOperation: msg.payload.Data.MainOperation,\n\t\t\tParsedResult: msg.payload.Data.ParsedResult,\n\t\t\tVersion: msg.payload.Data.Version\n        },\n        timestamp: new Date(msg.payload.Data.BeginTime).getTime()\n    }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 280,
        "wires": [
            [
                "2ef4e93a.5e2a56",
                "ac69f0462b3b942f"
            ]
        ]
    },
    {
        "id": "e7bc50af.06c1a8",
        "type": "inject",
        "z": "679c5775.a84ad8",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1020,
        "y": 340,
        "wires": [
            [
                "1206c168.36e417"
            ]
        ]
    },
    {
        "id": "7d91ffe7.fd07d",
        "type": "file",
        "z": "679c5775.a84ad8",
        "d": true,
        "name": "write to file",
        "filename": "/data/duplicati/received_messages",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 330,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "85700e66.8ffdf8",
        "type": "file in",
        "z": "679c5775.a84ad8",
        "name": "",
        "filename": "/data/duplicati/received_messages",
        "filenameType": "str",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 350,
        "y": 400,
        "wires": [
            [
                "7c0f221e.09a594"
            ]
        ]
    },
    {
        "id": "a4e09259.087e7",
        "type": "inject",
        "z": "679c5775.a84ad8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "85700e66.8ffdf8"
            ]
        ]
    },
    {
        "id": "d7568d07.bf6e",
        "type": "comment",
        "z": "679c5775.a84ad8",
        "name": "reprocess saved messages",
        "info": "",
        "x": 300,
        "y": 360,
        "wires": []
    },
    {
        "id": "8690da6c.97a75",
        "type": "catch",
        "z": "679c5775.a84ad8",
        "name": "",
        "scope": [
            "7c0f221e.09a594"
        ],
        "uncaught": false,
        "x": 280,
        "y": 540,
        "wires": [
            [
                "4def1099.0e74d8"
            ]
        ]
    },
    {
        "id": "4def1099.0e74d8",
        "type": "http response",
        "z": "679c5775.a84ad8",
        "name": "",
        "statusCode": "400",
        "headers": {},
        "x": 420,
        "y": 540,
        "wires": []
    },
    {
        "id": "10daee26.b97e4a",
        "type": "influxdb out",
        "z": "679c5775.a84ad8",
        "influxdb": "dce8d0e9.45717",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "duplicati",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "jvd",
        "bucket": "duplicati",
        "x": 1690,
        "y": 240,
        "wires": []
    },
    {
        "id": "1206c168.36e417",
        "type": "influxdb in",
        "z": "679c5775.a84ad8",
        "influxdb": "dce8d0e9.45717",
        "name": "",
        "query": "from(bucket: \"duplicati\")\n    |> range(start: -1y, stop: now())\n    |> filter(fn: (r) => r[\"_field\"] == \"EndTime\")\n    |> group(columns: [\"BackupName\"])\n    |> yield(name: \"last\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "jvd",
        "x": 1190,
        "y": 240,
        "wires": [
            [
                "262ee358.b77724",
                "b5807be60e9c6c8a"
            ]
        ]
    },
    {
        "id": "ac69f0462b3b942f",
        "type": "influxdb batch",
        "z": "679c5775.a84ad8",
        "influxdb": "dce8d0e9.45717",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "jvd",
        "bucket": "duplicati",
        "x": 1010,
        "y": 40,
        "wires": []
    },
    {
        "id": "ceea27386cd92936",
        "type": "debug",
        "z": "679c5775.a84ad8",
        "d": true,
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 340,
        "wires": []
    },
    {
        "id": "cfad4a2fc050959a",
        "type": "function",
        "z": "679c5775.a84ad8",
        "name": "",
        "func": "var current_time = new Date().getTime();\nvar end_time = new Date(msg.payload._value).getTime();\nvar duration = current_time - end_time;\n\n\n\n\nvar payload = [\n    {\n\t\tDurationSinceLastBackup: duration,\n\n    },\n    {\n        BackupName: msg.payload.BackupName\n    }\n]\n\nmsg.payload = payload;\nmsg.measurement = \"LastBackup\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 240,
        "wires": [
            [
                "10daee26.b97e4a",
                "ceea27386cd92936"
            ]
        ]
    },
    {
        "id": "b5807be60e9c6c8a",
        "type": "debug",
        "z": "679c5775.a84ad8",
        "d": true,
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 340,
        "wires": []
    },
    {
        "id": "0f88133884740219",
        "type": "debug",
        "z": "679c5775.a84ad8",
        "d": true,
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 420,
        "wires": []
    }
]